//! **************************************************************************
// Written by: Map K.39 on Thu Dec 05 13:45:38 2013
//! **************************************************************************

SCHEMATIC START;
NET "tv_in_line_clock1_BUFGP/IBUFG" BEL "tv_in_line_clock1_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
SCHEMATIC END;

